name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  check_code_format_and_lint:
    name: Check code formatting and linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2

      - name: setup toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly-2024-06-25

      - name: check-fmt
        run: cargo fmt --check

      - name: clippy
        run: cargo clippy -- -D warnings

  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: Build and test manga tui
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2

      - name: setup toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: nightly-2024-06-25

      - name: check 
        run: cargo check --locked

      - name: build
        run: cargo build --release --verbose

      - name: install cargo nextest
        run: cargo install cargo-nextest

      - name: test
        run: cargo nextest run --no-fail-fast

      - name: run ignored tests 
        run: cargo nextest run -- --ignored
