name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Test manga tui
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Swatinem/rust-cache@v2

      - name: setup toolchain
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable

      - name: check 
        run: cargo check

      - name: build
        run: cargo build --release --verbose

      - name: test
        run: cargo test -- --test-threads=1


      - name: clippy
        run: cargo clippy -- -D warnings
        env:
          RUST_BACKTRACE: full
